.twpx-b24a-admin-footer {
    display: grid;
    gap: 8px;
    justify-items: end;
}
.twpx-b24a-admin-footer-links {
    padding: 8px 0;
    display: flex;
    gap: 16px;
}
.twpx-b24a-admin-footer-links a {
    color: #000;
    text-align: center;
    font-family: "PT Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    text-decoration: none;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}
.twpx-b24a-admin-footer-links a:hover {
    color: #000;
    opacity: .7;
}
.twpx-b24a-admin-footer-copyright {
    color: #000;
    text-align: center;
    font-family: "PT Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px; /* 100% */
}